<% if user_signed_in? %>
<div class="list-group">
  <a href="#" class="list-group-item active">
  	<span class = "badge">14</span>
    School Example
  </a>
  <a href="#" class="list-group-item">Inactive reference example</a>
  <a href="#" class="list-group-item active">
  	<span class = "badge">5</span>
  	Org Example
  	</a>
  <a href="#" class="list-group-item">All Should Align to Left</a>
  <a href="#" class="list-group-item">All should have mini logos</a>
  <a href="#" class="list-group-item">Should be shorter</a>
  <a href="#" class="list-group-item">Could have different colors</a>  
</div>

<%else%>

<div class="jumbotron">
<div class = "text-center"> 
  <h1>Welcome to Kroo!</h1>
  <p>Create an account now</p>
<%= link_to "Sign Up", new_user_registration_path, {:class => "btn btn-primary btn-lg"} %>
<%= link_to "Sign Up with Facebook", new_user_registration_path, {:class => "btn btn-primary btn-lg"} %>
</div>
</div>
<!-- <div> 
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>

</div> -->
<%end%>