<% if user_signed_in? %>
<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<div class="list-group" float="right">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>




<%else%>

<div class="jumbotron">
<div class = "text-center"> 
  <h1>Welcome to Kroo!</h1>
  <p>Create an account now</p>
<%= link_to "Sign Up", new_user_registration_path, {:class => "btn btn-primary btn-lg"} %>
</div>
</div>
<!-- <div> 
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>

</div> -->
<%end%>