<div class="jumbotron">
<div class = "text-center"> 
  <h1>Welcome to Kroo!</h1>
  <p>Create an account now</p>
  <p><a class="btn btn-primary btn-lg" href="link_to new_user_registration_path" role="button">	Sign Up</a></p>
</div>
</div>
<!-- <div> 
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>

</div> -->

